*{
    box-sizing: border-box;
    background:#ccffcc;
}

.container{
    height:auto;
    width: 90%;
    margin: auto;
}

header{
    height :50px;
    width : 100%;
}

.navigation{
    height : 50px;
    width : 100%;
    float :left;
}
.navigation  ul  li{
    display: inline;
    font-size:22px;
    padding-right: 80px;
    color:#000;
    style:none;
}
.Home{
}
.Home > h1{
    padding-top: 30px;
    background: #fff;
}
.Home p{
    background: #0011ff;
    height: 400px;
    width :100%;
    padding-top: 200px;
    padding-left: 40px;
    text-align:left;
    color:#000;
    font-size: 30px;
    background:#f8f8f8;
    background-image: url('img');
}
.about_me{
    text-align: left;
}
.about_me p{
    padding-top: 100px;
    background: #0033ff;
    height: 400px;
    width :100%;
    text-align:left; 
    padding-left: 40px;
    padding-top: 150px;
    color:#000;
    background:#f8f8f8;
    font-size: 30px;
    background-image: url('img');

}

.my_expertise{
    height :450px;
    width : 100%;
}
.expertise h1{
    font-size: 30px;
    font-weight: bold;
    text-align:center; 
}
.my_expertise  p{
    font-size:22px;
    color:#000;
    background:#f8f8f8;
    padding-left: 40px;
    background-image: url('img');

}

#projects{
    padding-bottom: 20px;
}
.project_1{
    height: 400px;
    width :100%;
    background:#33ccff;
    position: relative;
}
.project_1 p{
    text-align: left;
    background: none;
    padding-left:40px;
    background-image: url('img');

}

.project_1 h1{
    font-size: 20px;
    font-weight: bold;
    background: none;
    text-align: left;
    padding-top:50px;
    padding-left:40px;
}
.project_1 button{
    font-size: 20px;
    color:#ffffff;
    background: #000000;
    border :none;
    position:absolute;
    left: 40px;
    padding: 8px 15px;
}

.Follow_Me{
    height: 300px;
    width :100%;
    font-size:22px;
    color: #000;
}
.Follow_Me h1{
    color: #000;
}
.Follow_Me ul li{
    padding-right: 105px;
    color: #fff;
    text-align: center;
}

footer{
    height: 150px;
    width :100%;
}
footer h1{
    color:#000;
}
footer p{
    color:#000;
    background: #f8f8f8;
    font-size: 22px;
}